In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [2]:
#Spark Dataframe

from pyspark.sql import *
from pyspark.shell import spark

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.1.1
      /_/

Using Python version 3.7.10 (default, Feb 20 2021 21:17:23)
Spark context Web UI available at http://87a6262eec78:4040
Spark context available as 'sc' (master = local[*], app id = local-1619628896248).
SparkSession available as 'spark'.

In [3]:
 
Student = Row("firstName", "lastName", "email", "salary")
 
Student1 = Student('nguyen', 'quoc', 'quocnguyen@gmail.com', 100000)
Student2 = Student('bao', 'gia', 'giabao@gmail.com', 120000 )
Student3 = Student('cuong', None, 'cuong@gmail.com', 140000 )
Student4 = Student('loi', 'thien', 'thienloi@gmail.com', 160000 )
Student5 = Student('long', 'thanh', 'thanhlong@gmail.com', 160000 )
 
print(Student[0])
print(Student3)

firstName
Row(firstName='cuong', lastName=None, email='cuong@gmail.com', salary=140000)

In [4]:
classes1 = Row(id='123456', name='NLP')
classes2 = Row(id='789012', name='BI')
classes3 = Row(id='345678', name='WEB')
classes4 = Row(id='901234', name='DEV')

In [5]:
classesWithStudents1 = Row(classes=classes1, Students=[Student1, Student2, Student5])
classesWithStudents2 = Row(classes=classes2, Students=[Student3, Student4])
classesWithStudents3 = Row(classes=classes3, Students=[Student1, Student4, Student3])
classesWithStudents4 = Row(classes=classes4, Students=[Student2, Student3])

In [6]:
classesWithStudents_Seq = [classesWithStudents1, classesWithStudents2]
dframe = spark.createDataFrame(classesWithStudents_Seq)
display(dframe)
dframe.show()

DataFrame[classes: struct<id:string,name:string>, Students: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]

+-------------+--------------------+
|      classes|            Students|
+-------------+--------------------+
|{123456, NLP}|[{nguyen, quoc, q...|
| {789012, BI}|[{cuong, null, cu...|
+-------------+--------------------+

# USE DATA CVS

**PrintSchema** : sẽ cung cấp cho chúng tôi các cột khác nhau trong DataFrame của chúng tôi, cùng với loại dữ liệu và các điều kiện không thể thực hiện được cho cột cụ thể đó.

In [7]:
# load data 
df = spark.read.load('./bank.csv',format="csv", header = True, inferSchema = True)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [8]:
df.show(5)

+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|       job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|    admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|    admin.|married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41|technician|married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|  services|married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|    admin.|married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 5 rows

In [9]:
# Row Count 
print("Row Count ",df.count() )

# Column Count
print("Column Count ",len(df.columns) )

# Column Names
df.columns

Row Count  11162
Column Count  17

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'deposit']

**Describe** : cung cấp tóm tắt thống kê của cột đã cho, nếu không được chỉ định, nó cung cấp tóm tắt thống kê của DataFrame.

In [10]:
df.describe().show()

+-------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|summary|               age|    job| marital|education|default|           balance|housing| loan| contact|               day|month|          duration|          campaign|             pdays|          previous|poutcome|deposit|
+-------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+
|  count|             11162|  11162|   11162|    11162|  11162|             11162|  11162|11162|   11162|             11162|11162|             11162|             11162|             11162|             11162|   11162|  11162|
|   mean|41.231947679627304|   null|    null|     null|   null|1528.5385235620856|   null| null|    null|15.658036194230425| null|371.99381831213043| 2.508421429851281| 51.33040673714388|0.8325568894463358|    null|   null|
| stddev|11.913369192215518|   null|    null|     null|   null| 3225.413325946149|   null| null|    null| 8.420739541006462| null|347.12838571630687|2.7220771816614824|108.75828197197717| 2.292007218670508|    null|   null|
|    min|                18| admin.|divorced|  primary|     no|             -6847|     no|   no|cellular|                 1|  apr|                 2|                 1|                -1|                 0| failure|     no|
|    max|                95|unknown|  single|  unknown|    yes|             81204|    yes|  yes| unknown|                31|  sep|              3881|                63|               854|                58| unknown|    yes|
+-------+------------------+-------+--------+---------+-------+------------------+-------+-----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+-------+

In [11]:
df.describe("age").show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|             11162|
|   mean|41.231947679627304|
| stddev|11.913369192215518|
|    min|                18|
|    max|                95|
+-------+------------------+

**Select** : chọn cột từ Datarfame

In [12]:
df.select('age','job').show(5)

+---+----------+
|age|       job|
+---+----------+
| 59|    admin.|
| 56|    admin.|
| 41|technician|
| 55|  services|
| 54|    admin.|
+---+----------+
only showing top 5 rows

**Distinct** : chọn cột vói nhiều thuộc tính khác nhau

In [13]:
df.select('age','job').distinct().show(5)

+---+-------------+
|age|          job|
+---+-------------+
| 23|    housemaid|
| 63| entrepreneur|
| 36|  blue-collar|
| 35|self-employed|
| 42|       admin.|
+---+-------------+
only showing top 5 rows

**Filter** lọc dự liệu từ dataframe

In [14]:
df.filter(df.age=='22').show()
df.filter(df.age=='22').count()

+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
| 22|     admin.| single| tertiary|     no|    897|    yes|  no| cellular|  4|  feb|     133|       4|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|      0|     no|  no| cellular|  6|  feb|     229|       6|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    381|     no|  no| cellular| 12|  feb|     227|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    107|     no|  no| cellular| 14|  apr|     125|       1|   -1|       0| unknown|    yes|
| 22|blue-collar| single|secondary|     no|    -51|    yes|  no| cellular| 15|  may|     859|       1|   -1|       0| unknown|    yes|
| 22|   services| single|secondary|     no|    344|    yes|  no| cellular| 18|  may|     347|       1|   -1|       0| unknown|    yes|
| 22|blue-collar| single|secondary|     no|    682|     no|  no| cellular|  5|  jun|     126|       2|   91|       1| success|    yes|
| 22|    student| single|  unknown|     no|    466|     no|  no| cellular| 30|  jun|     377|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    185|     no|  no| cellular|  8|  jul|     153|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    948|     no|  no|telephone| 18|  aug|     215|       1|  197|       2| failure|    yes|
| 22|    student| single| tertiary|     no|    691|     no|  no| cellular| 19|  aug|     338|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    144|     no|  no| cellular| 21|  aug|     116|       1|   -1|       0| unknown|    yes|
| 22|   services| single|secondary|     no|    129|     no|  no| cellular| 16|  oct|     258|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|     23|     no|  no| cellular| 27|  oct|     137|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|   1522|     no|  no| cellular| 30|  oct|     368|       2|   -1|       0| unknown|    yes|
| 22|    student| single| tertiary|     no|    691|     no|  no| cellular| 30|  nov|     260|       5|  103|       1| success|    yes|
| 22|    student| single|secondary|     no|    254|     no|  no| cellular| 13|  jan|     143|       2|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    216|     no|  no| cellular|  8|  feb|     363|       1|  187|       1| success|    yes|
| 22|    student| single|  unknown|     no|   1215|     no|  no| cellular| 19|  feb|     145|       3|  192|       1| failure|    yes|
| 22|    student| single|secondary|     no|    948|     no|  no|telephone| 25|  feb|     169|       1|  191|       3| success|    yes|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

48

In [15]:
df.filter((df.age=='22') & (df.education=='tertiary')).show() ## and(&) or(|)

+---+-------------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|age|          job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-------------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
| 22|       admin.| single| tertiary|     no|    897|    yes|  no| cellular|  4|  feb|     133|       4|   -1|       0| unknown|    yes|
| 22|      student| single| tertiary|     no|    691|     no|  no| cellular| 19|  aug|     338|       1|   -1|       0| unknown|    yes|
| 22|      student| single| tertiary|     no|    691|     no|  no| cellular| 30|  nov|     260|       5|  103|       1| success|    yes|
| 22|   management| single| tertiary|     no|    104|     no| yes| cellular| 16|  apr|     330|       3|   -1|       0| unknown|    yes|
| 22|   management| single| tertiary|     no|    104|     no| yes| cellular| 18|  oct|     509|       1|  185|       3| success|    yes|
| 22|   unemployed| single| tertiary|     no|    993|     no|  no| cellular| 28|  jul|     115|       3|   93|       1|   other|    yes|
| 22|self-employed| single| tertiary|     no|    780|     no|  no| cellular| 17|  mar|     272|       3|   -1|       0| unknown|    yes|
| 22|      student| single| tertiary|     no|   1161|     no| yes| cellular| 16|  jun|     119|       1|   -1|       0| unknown|     no|
| 22|   management| single| tertiary|     no|    760|     no|  no|telephone|  7|  dec|       6|       1|   -1|       0| unknown|     no|
+---+-------------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+

**OrderBy** : sắp xếp dữ liệu. Theo mặc định, nó sắp xếp theo thứ tự tăng dần, nhưng cũng có thể thay đổi theo thứ tự giảm dần.

In [16]:
df.orderBy(df.age).show(20)

+---+-------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|age|    job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
| 18|student| single|  primary|     no|    608|     no|  no| cellular| 12|  aug|     267|       1|   -1|       0| unknown|    yes|
| 18|student| single|  unknown|     no|    108|     no|  no| cellular|  9|  feb|      92|       1|  183|       1| success|    yes|
| 18|student| single|  unknown|     no|    108|     no|  no| cellular|  8|  sep|     169|       1|   -1|       0| unknown|    yes|
| 18|student| single|  unknown|     no|      3|     no|  no| cellular| 25|  aug|     130|       2|   -1|       0| unknown|    yes|
| 18|student| single|secondary|     no|      5|     no|  no| cellular| 24|  aug|     143|       2|   -1|       0| unknown|     no|
| 18|student| single|  unknown|     no|    108|     no|  no| cellular| 10|  aug|     167|       1|   -1|       0| unknown|    yes|
| 18|student| single|  unknown|     no|    348|     no|  no| cellular|  5|  may|     443|       4|   -1|       0| unknown|    yes|
| 18|student| single|  primary|     no|    608|     no|  no| cellular| 13|  nov|     210|       1|   93|       1| success|    yes|
| 19|student| single|secondary|     no|    329|     no|  no| cellular| 22|  oct|     252|       2|   -1|       0| unknown|    yes|
| 19|student| single|  primary|     no|    134|     no|  no| cellular| 27|  mar|     271|       2|   -1|       0| unknown|    yes|
| 19|student| single|  unknown|     no|    108|     no|  no| cellular|  9|  mar|     273|       2|  182|       1| success|    yes|
| 19|student| single|secondary|     no|    302|     no|  no| cellular| 16|  jul|     205|       1|   -1|       0| unknown|    yes|
| 19|student| single|  primary|     no|    103|     no|  no| cellular| 10|  jul|     104|       2|   -1|       0| unknown|    yes|
| 19|student| single|secondary|     no|    394|     no|  no| cellular|  5|  apr|     327|       3|   -1|       0| unknown|    yes|
| 19|student| single|secondary|     no|    329|     no|  no| cellular| 30|  apr|     169|       1|  190|       2| success|    yes|
| 19|student| single|  unknown|     no|    108|     no|  no| cellular| 10|  aug|     168|       1|  182|       2| success|    yes|
| 19|student| single|  primary|     no|    608|     no|  no| cellular| 12|  may|     236|       1|  180|       2| success|    yes|
| 19|student| single|secondary|     no|     55|     no|  no|telephone|  6|  oct|      89|       2|  193|       1|   other|     no|
| 19|student| single|secondary|     no|    372|     no|  no|telephone|  8|  jul|     444|       3|   -1|       0| unknown|    yes|
| 19|student| single|  unknown|     no|    779|     no|  no| cellular|  1|  apr|     184|       4|   -1|       0| unknown|    yes|
+---+-------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [17]:
df.sort("age").show()

+---+-------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|age|    job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
| 18|student| single|  primary|     no|    608|     no|  no| cellular| 12|  aug|     267|       1|   -1|       0| unknown|    yes|
| 18|student| single|  unknown|     no|    108|     no|  no| cellular|  9|  feb|      92|       1|  183|       1| success|    yes|
| 18|student| single|  unknown|     no|    108|     no|  no| cellular|  8|  sep|     169|       1|   -1|       0| unknown|    yes|
| 18|student| single|  unknown|     no|      3|     no|  no| cellular| 25|  aug|     130|       2|   -1|       0| unknown|    yes|
| 18|student| single|secondary|     no|      5|     no|  no| cellular| 24|  aug|     143|       2|   -1|       0| unknown|     no|
| 18|student| single|  unknown|     no|    108|     no|  no| cellular| 10|  aug|     167|       1|   -1|       0| unknown|    yes|
| 18|student| single|  unknown|     no|    348|     no|  no| cellular|  5|  may|     443|       4|   -1|       0| unknown|    yes|
| 18|student| single|  primary|     no|    608|     no|  no| cellular| 13|  nov|     210|       1|   93|       1| success|    yes|
| 19|student| single|secondary|     no|    329|     no|  no| cellular| 22|  oct|     252|       2|   -1|       0| unknown|    yes|
| 19|student| single|  primary|     no|    134|     no|  no| cellular| 27|  mar|     271|       2|   -1|       0| unknown|    yes|
| 19|student| single|  unknown|     no|    108|     no|  no| cellular|  9|  mar|     273|       2|  182|       1| success|    yes|
| 19|student| single|secondary|     no|    302|     no|  no| cellular| 16|  jul|     205|       1|   -1|       0| unknown|    yes|
| 19|student| single|  primary|     no|    103|     no|  no| cellular| 10|  jul|     104|       2|   -1|       0| unknown|    yes|
| 19|student| single|secondary|     no|    394|     no|  no| cellular|  5|  apr|     327|       3|   -1|       0| unknown|    yes|
| 19|student| single|secondary|     no|    329|     no|  no| cellular| 30|  apr|     169|       1|  190|       2| success|    yes|
| 19|student| single|  unknown|     no|    108|     no|  no| cellular| 10|  aug|     168|       1|  182|       2| success|    yes|
| 19|student| single|  primary|     no|    608|     no|  no| cellular| 12|  may|     236|       1|  180|       2| success|    yes|
| 19|student| single|secondary|     no|     55|     no|  no|telephone|  6|  oct|      89|       2|  193|       1|   other|     no|
| 19|student| single|secondary|     no|    372|     no|  no|telephone|  8|  jul|     444|       3|   -1|       0| unknown|    yes|
| 19|student| single|  unknown|     no|    779|     no|  no| cellular|  1|  apr|     184|       4|   -1|       0| unknown|    yes|
+---+-------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

**GroupBy - phân nhóm dữ liệu** : được sử dụng để nhóm DataFrame dựa trên cột được chỉ định.

In [18]:
df_job = df.groupby("job").count()
df_job.show()

+-------------+-----+
|          job|count|
+-------------+-----+
|   management| 2566|
|      retired|  778|
|      unknown|   70|
|self-employed|  405|
|      student|  360|
|  blue-collar| 1944|
| entrepreneur|  328|
|       admin.| 1334|
|   technician| 1823|
|     services|  923|
|    housemaid|  274|
|   unemployed|  357|
+-------------+-----+

**Rename columns** : đổi tên cột

In [19]:
new_df = df.withColumnRenamed("age","old")
new_df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|old|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

**Thêm cột** :  dùng withColumn để thêm cột
**F.col** : dùng để truy cập đến cột

In [20]:
import pyspark.sql.functions as F
new2_df = df.withColumn("new old", 10000 + F.col("age"))
new2_df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|new old|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|  10059|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|  10056|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|  10041|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|  10055|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|  10054|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|  10042|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|  10056|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|  10060|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|  10037|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|  10028|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|  10038|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|  10030|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|  10029|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|  10046|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|  10031|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|  10035|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|  10032|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|  10049|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|  10041|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|  10049|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-------+
only showing top 20 rows

**Thêm datafarm mới**

In [21]:
new3_df = spark.read.load('./bank_2.csv',format="csv", header = True, inferSchema = True)
new3_df.show(3)

+---+-------+
|day|newdata|
+---+-------+
|  5|    may|
|  5|    may|
|  5|    may|
+---+-------+
only showing top 3 rows

In [22]:
new3_df = new3_df.join(df, ["day"],how='left')
new3_df.show(5)

+---+-------+---+----------+-------+---------+-------+-------+-------+----+--------+-----+--------+--------+-----+--------+--------+-------+
|day|newdata|age|       job|marital|education|default|balance|housing|loan| contact|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-------+---+----------+-------+---------+-------+-------+-------+----+--------+-----+--------+--------+-----+--------+--------+-------+
|  5|    may| 35|   retired| single|  primary|     no|    434|     no|  no| unknown|  may|     138|       1|   -1|       0| unknown|     no|
|  5|    may| 40|technician| single| tertiary|     no|     47|    yes|  no|cellular|  may|     159|       1|  365|       1| failure|     no|
|  5|    may| 25|  services|married|secondary|     no|     50|    yes|  no| unknown|  may|     342|       1|   -1|       0| unknown|     no|
|  5|    may| 33|    admin.| single| tertiary|     no|    193|     no|  no| unknown|  may|     132|       2|   -1|       0| unknown|     no|
|  5|    may| 35|technician| single|  unknown|     no|    726|    yes|  no|cellular|  may|     163|       1|   -1|       0| unknown|     no|
+---+-------+---+----------+-------+---------+-------+-------+-------+----+--------+-----+--------+--------+-----+--------+--------+-------+
only showing top 5 rows

**SQL query** :  thực hiện truy vấn sql cho dataframe spark

In [23]:
from pyspark import SparkContext
sc =SparkContext.getOrCreate()

from pyspark.sql import SQLContext
df.registerTempTable('table_dataframe')

sqlContext = SQLContext(sc)
sqlContext.sql('select * from table_dataframe').show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows