In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ML project').getOrCreate()

In [3]:
# load data 
df = spark.read.csv('./bank.csv', header = True, inferSchema = True)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [4]:
df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [5]:
# Show Dataset in DataFrame
import pandas as pd
pd.DataFrame(df.take(5), columns=df.columns).transpose()

                   0          1           2          3         4
age               59         56          41         55        54
job           admin.     admin.  technician   services    admin.
marital      married    married     married    married   married
education  secondary  secondary   secondary  secondary  tertiary
default           no         no          no         no        no
balance         2343         45        1270       2476       184
housing          yes         no         yes        yes        no
loan              no         no          no         no        no
contact      unknown    unknown     unknown    unknown   unknown
day                5          5           5          5         5
month            may        may         may        may       may
duration        1042       1467        1389        579       673
campaign           1          1           1          1         2
pdays             -1         -1          -1         -1        -1
previous           0          0           0          0         0
poutcome     unknown    unknown     unknown    unknown   unknown
deposit          yes        yes         yes        yes       yes

In [6]:
# Data grouping by class 
class_name = df.columns[len(df.columns)-1]
df.groupby(class_name).count().toPandas()

  deposit  count
0      no   5873
1     yes   5289

In [7]:
# convert string to numeric 
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer()
indexer.setInputCol(class_name).setOutputCol("label")
df_new = indexer.fit(df).transform(df)

In [8]:

indexer.setInputCol("job").setOutputCol("job_new")
df_new = indexer.fit(df_new).transform(df_new)
indexer.setInputCol("marital").setOutputCol("marital_new")
df_new = indexer.fit(df_new).transform(df_new)
indexer.setInputCol("education").setOutputCol("education_new")
df_new = indexer.fit(df_new).transform(df_new)
indexer.setInputCol("default").setOutputCol("default_new")
df_new = indexer.fit(df_new).transform(df_new)
indexer.setInputCol("housing").setOutputCol("housing_new")
df_new = indexer.fit(df_new).transform(df_new)
indexer.setInputCol("loan").setOutputCol("loan_new")
df_new = indexer.fit(df_new).transform(df_new)
indexer.setInputCol("contact").setOutputCol("contact_new")
df_new = indexer.fit(df_new).transform(df_new)
indexer.setInputCol("poutcome").setOutputCol("poutcome_new")
df_new = indexer.fit(df_new).transform(df_new)
indexer.setInputCol("deposit").setOutputCol("deposit_new")
df_new = indexer.fit(df_new).transform(df_new)
indexer.setInputCol("month").setOutputCol("month_new")
df_new = indexer.fit(df_new).transform(df_new)

In [9]:
df_new.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-----+-------+-----------+-------------+-----------+-----------+--------+-----------+------------+-----------+---------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|label|job_new|marital_new|education_new|default_new|housing_new|loan_new|contact_new|poutcome_new|deposit_new|month_new|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-----+-------+-----------+-------------+-----------+-----------+--------+-----------+------------+-----------+---------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|  1.0|    3.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|  1.0|    3.0|        0.0|          0.0|        0.0|        0.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|  1.0|    2.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|  1.0|    4.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|  1.0|    3.0|        0.0|          1.0|        0.0|        0.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|  1.0|    0.0|        1.0|          1.0|        0.0|        1.0|     1.0|        1.0|         0.0|        1.0|      0.0|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|  1.0|    0.0|        0.0|          1.0|        0.0|        1.0|     1.0|        1.0|         0.0|        1.0|      0.0|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|  1.0|    5.0|        2.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|  1.0|    2.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|  1.0|    4.0|        1.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|  1.0|    3.0|        1.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|  1.0|    1.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|  1.0|    0.0|        0.0|          1.0|        0.0|        1.0|     1.0|        1.0|         0.0|        1.0|      0.0|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|  1.0|    1.0|        1.0|          1.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|  1.0|    2.0|        1.0|          1.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|  1.0|    0.0|        2.0|          1.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|  1.0|    1.0|        1.0|          2.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|  1.0|    4.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|  1.0|    3.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|  1.0|    3.0|        2.0|          0.0|        0.0|        1.0|     1.0|        1.0|         0.0|        1.0|      0.0|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-----+-------+-----------+-------------+-----------+-----------+--------+-----------+------------+-----------+---------+
only showing top 20 rows

In [11]:
# features and class 
class_name = 'label'
feature_names = ['job_new','marital_new','marital_new','default_new','housing_new','loan_new','contact_new','poutcome_new','deposit_new','month_new','balance','day','duration','campaign','pdays','previous']

In [12]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler()
assembler.setInputCols(feature_names).setOutputCol('features')

transformed_data = assembler.transform(df_new)

In [13]:
transformed_data.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-----+-------+-----------+-------------+-----------+-----------+--------+-----------+------------+-----------+---------+--------------------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|label|job_new|marital_new|education_new|default_new|housing_new|loan_new|contact_new|poutcome_new|deposit_new|month_new|            features|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-----+-------+-----------+-------------+-----------+-----------+--------+-----------+------------+-----------+---------+--------------------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|  1.0|    3.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|(16,[0,4,6,8,10,1...|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|  1.0|    3.0|        0.0|          0.0|        0.0|        0.0|     0.0|        1.0|         0.0|        1.0|      0.0|(16,[0,6,8,10,11,...|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|  1.0|    2.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|(16,[0,4,6,8,10,1...|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|  1.0|    4.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|(16,[0,4,6,8,10,1...|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|  1.0|    3.0|        0.0|          1.0|        0.0|        0.0|     0.0|        1.0|         0.0|        1.0|      0.0|(16,[0,6,8,10,11,...|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|  1.0|    0.0|        1.0|          1.0|        0.0|        1.0|     1.0|        1.0|         0.0|        1.0|      0.0|[0.0,1.0,1.0,0.0,...|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|  1.0|    0.0|        0.0|          1.0|        0.0|        1.0|     1.0|        1.0|         0.0|        1.0|      0.0|(16,[4,5,6,8,10,1...|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|  1.0|    5.0|        2.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|[5.0,2.0,2.0,0.0,...|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|  1.0|    2.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|(16,[0,4,6,8,10,1...|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|  1.0|    4.0|        1.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|[4.0,1.0,1.0,0.0,...|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|  1.0|    3.0|        1.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|[3.0,1.0,1.0,0.0,...|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|  1.0|    1.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|(16,[0,4,6,8,10,1...|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|  1.0|    0.0|        0.0|          1.0|        0.0|        1.0|     1.0|        1.0|         0.0|        1.0|      0.0|(16,[4,5,6,8,10,1...|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|  1.0|    1.0|        1.0|          1.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|[1.0,1.0,1.0,0.0,...|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|  1.0|    2.0|        1.0|          1.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|[2.0,1.0,1.0,0.0,...|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|  1.0|    0.0|        2.0|          1.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|[0.0,2.0,2.0,0.0,...|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|  1.0|    1.0|        1.0|          2.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|[1.0,1.0,1.0,0.0,...|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|  1.0|    4.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|(16,[0,4,6,8,10,1...|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|  1.0|    3.0|        0.0|          0.0|        0.0|        1.0|     0.0|        1.0|         0.0|        1.0|      0.0|(16,[0,4,6,8,10,1...|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|  1.0|    3.0|        2.0|          0.0|        0.0|        1.0|     1.0|        1.0|         0.0|        1.0|      0.0|[3.0,2.0,2.0,0.0,...|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-----+-------+-----------+-------------+-----------+-----------+--------+-----------+------------+-----------+---------+--------------------+
only showing top 20 rows

In [14]:
# Split the data
(training_data, test_data) = transformed_data.randomSplit([0.8,0.2])

In [15]:
from pyspark.ml.classification import LogisticRegression
model = LogisticRegression(featuresCol = 'features',labelCol=class_name, maxIter=30)

In [16]:
Model = model.fit(training_data)

In [17]:
# Predict with the test dataset
predictions = Model.transform(test_data)

In [18]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

multi_evaluator = MulticlassClassificationEvaluator(labelCol = 'label', metricName = 'accuracy')
print('Logistic Regression Accuracy:', multi_evaluator.evaluate(predictions))

Logistic Regression Accuracy: 1.0

In [24]:
predictions.select("label","prediction").show()

+-----+----------+
|label|prediction|
+-----+----------+
|  1.0|       1.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
+-----+----------+
only showing top 20 rows

In [25]:
predictions.show()

+---+-------------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----+-------+-----------+-------------+-----------+-----------+--------+-----------+------------+-----------+---------+--------------------+--------------------+--------------------+----------+
|age|          job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|label|job_new|marital_new|education_new|default_new|housing_new|loan_new|contact_new|poutcome_new|deposit_new|month_new|            features|       rawPrediction|         probability|prediction|
+---+-------------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----+-------+-----------+-------------+-----------+-----------+--------+-----------+------------+-----------+---------+--------------------+--------------------+--------------------+----------+
| 19|      student| single|  primary|     no|    103|     no|  no| cellular| 10|  jul|     104|       2|   -1|       0| unknown|    yes|  1.0|    7.0|        1.0|          2.0|        0.0|        0.0|     0.0|        0.0|         0.0|        1.0|      2.0|[7.0,1.0,1.0,0.0,...|[-23.020243455516...|[1.00562322563523...|       1.0|
| 20|       admin.| single|secondary|     no|    336|     no| yes| cellular|  5|  jun|     133|       1|   -1|       0| unknown|     no|  0.0|    3.0|        1.0|          0.0|        0.0|        0.0|     1.0|        0.0|         0.0|        0.0|      3.0|[3.0,1.0,1.0,0.0,...|[17.7776666726000...|[0.99999998097794...|       0.0|
| 20|      student| single|  primary|     no|   6991|     no|  no| cellular| 12|  aug|     178|       2|   -1|       0| unknown|    yes|  1.0|    7.0|        1.0|          2.0|        0.0|        0.0|     0.0|        0.0|         0.0|        1.0|      1.0|[7.0,1.0,1.0,0.0,...|[-22.680027763187...|[1.41315270114109...|       1.0|
| 20|      student| single|secondary|     no|    215|     no|  no| cellular| 21|  aug|     228|       4|  183|       1|   other|    yes|  1.0|    7.0|        1.0|          0.0|        0.0|        0.0|     0.0|        0.0|         3.0|        1.0|      1.0|[7.0,1.0,1.0,0.0,...|[-20.450123405548...|[1.31408739707494...|       1.0|
| 20|      student| single| tertiary|     no|   2764|    yes|  no|  unknown| 29|  may|     139|       2|   -1|       0| unknown|     no|  0.0|    7.0|        1.0|          1.0|        0.0|        1.0|     0.0|        1.0|         0.0|        0.0|      0.0|[7.0,1.0,1.0,0.0,...|[23.6810689009841...|[0.99999999994806...|       0.0|
| 20|      student| single|  unknown|     no|    801|     no|  no| cellular| 11|  nov|     244|       2|   -1|       0| unknown|    yes|  1.0|    7.0|        1.0|          3.0|        0.0|        0.0|     0.0|        0.0|         0.0|        1.0|      4.0|[7.0,1.0,1.0,0.0,...|[-22.426486566898...|[1.82096096202897...|       1.0|
| 20|      student| single|  unknown|     no|    829|     no|  no| cellular|  9|  jul|     253|       2|   -1|       0| unknown|    yes|  1.0|    7.0|        1.0|          3.0|        0.0|        0.0|     0.0|        0.0|         0.0|        1.0|      2.0|[7.0,1.0,1.0,0.0,...|[-23.223826814491...|[8.20389636896309...|       1.0|
| 20|      student| single|  unknown|     no|   2785|     no|  no| cellular| 16|  sep|     327|       2|   -1|       0| unknown|    yes|  1.0|    7.0|        1.0|          3.0|        0.0|        0.0|     0.0|        0.0|         0.0|        1.0|      9.0|[7.0,1.0,1.0,0.0,...|[-20.399512420531...|[1.38230640911058...|       1.0|
| 21|       admin.| single|secondary|     no|    524|     no|  no| cellular| 26|  may|     185|       1|   -1|       0| unknown|    yes|  1.0|    3.0|        1.0|          0.0|        0.0|        0.0|     0.0|        0.0|         0.0|        1.0|      0.0|(16,[0,1,2,8,10,1...|[-21.559607393722...|[4.33292804258249...|       1.0|
| 21|  blue-collar|married|  primary|     no|   -172|    yes| yes| cellular| 15|  may|     409|       1|  361|       3| failure|    yes|  1.0|    1.0|        0.0|          2.0|        0.0|        1.0|     1.0|        0.0|         1.0|        1.0|      0.0|[1.0,0.0,0.0,0.0,...|[-20.020244963935...|[2.01984519227959...|       1.0|
| 21|      student| single|secondary|     no|     71|     no|  no| cellular| 13|  jan|     169|       2|   -1|       0| unknown|    yes|  1.0|    7.0|        1.0|          0.0|        0.0|        0.0|     0.0|        0.0|         0.0|        1.0|      8.0|[7.0,1.0,1.0,0.0,...|[-21.178222273816...|[6.34475606687040...|       1.0|
| 21|      student| single|secondary|     no|    123|     no|  no|telephone| 12|  aug|     449|       1|   -1|       0| unknown|    yes|  1.0|    7.0|        1.0|          0.0|        0.0|        0.0|     0.0|        2.0|         0.0|        1.0|      1.0|[7.0,1.0,1.0,0.0,...|[-21.880025886427...|[3.14503507652401...|       1.0|
| 21|      student| single|secondary|     no|   2488|     no|  no| cellular| 12|  oct|     180|       1|   -1|       0| unknown|    yes|  1.0|    7.0|        1.0|          0.0|        0.0|        0.0|     0.0|        0.0|         0.0|        1.0|      7.0|[7.0,1.0,1.0,0.0,...|[-21.558747232332...|[4.33665666336504...|       1.0|
| 21|      student| single|  unknown|     no|    200|     no|  no|  unknown|  1|  jun|       8|       1|   -1|       0| unknown|     no|  0.0|    7.0|        1.0|          3.0|        0.0|        0.0|     0.0|        1.0|         0.0|        0.0|      3.0|[7.0,1.0,1.0,0.0,...|[17.3368506615324...|[0.99999997044020...|       0.0|
| 21|   unemployed| single|secondary|     no|   1333|     no|  no| cellular|  2|  feb|     120|       1|   -1|       0| unknown|     no|  0.0|    8.0|        1.0|          0.0|        0.0|        0.0|     0.0|        0.0|         0.0|        0.0|      6.0|(16,[0,1,2,9,10,1...|[17.7615140970114...|[0.99999998066819...|       0.0|
| 22|   management| single| tertiary|     no|    104|     no| yes| cellular| 18|  oct|     509|       1|  185|       3| success|    yes|  1.0|    0.0|        1.0|          1.0|        0.0|        0.0|     1.0|        0.0|         2.0|        1.0|      7.0|[0.0,1.0,1.0,0.0,...|[-19.997713079136...|[2.06587270742723...|       1.0|
| 22|self-employed| single|secondary|     no|   2138|     no| yes| cellular| 10|  aug|     164|       1|  109|       2|   other|    yes|  1.0|    6.0|        1.0|          0.0|        0.0|        0.0|     1.0|        0.0|         3.0|        1.0|      1.0|[6.0,1.0,1.0,0.0,...|[-21.585258251330...|[4.22319807278801...|       1.0|
| 22|     services| single|secondary|     no|    344|    yes|  no| cellular| 18|  may|     347|       1|   -1|       0| unknown|    yes|  1.0|    4.0|        1.0|          0.0|        0.0|        1.0|     0.0|        0.0|         0.0|        1.0|      0.0|[4.0,1.0,1.0,0.0,...|[-20.721525570487...|[1.00174178059745...|       1.0|
| 22|      student| single|secondary|     no|      0|     no|  no| cellular|  6|  feb|     229|       6|   -1|       0| unknown|    yes|  1.0|    7.0|        1.0|          0.0|        0.0|        0.0|     0.0|        0.0|         0.0|        1.0|      6.0|(16,[0,1,2,8,9,11...|[-22.592614163728...|[1.54224132787534...|       1.0|
| 22|      student| single|secondary|     no|    216|     no|  no| cellular|  8|  feb|     363|       1|  187|       1| success|    yes|  1.0|    7.0|        1.0|          0.0|        0.0|        0.0|     0.0|        0.0|         2.0|        1.0|      6.0|[7.0,1.0,1.0,0.0,...|[-21.882080355820...|[3.13858033103306...|       1.0|
+---+-------------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----+-------+-----------+-------------+-----------+-----------+--------+-----------+------------+-----------+---------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows